.slick-dots .slick-thumb li {
  width: 25%;
}

.img-gallery #img-slider {
  height: 96px;
}

.thumnails {
  transition: all 0.5s ease-in-out;
  border-radius: 18px;
}
.thumnails.active {
  opacity: 1;
}

.inp-ck {
  background: #f8f8f8;
  border-radius: 78px;
  height: 80px;
  border: none;
  outline: none;
  font-size: 25px;
  padding: 0 2rem;
}

.img_uploader {
  height: 96px;
  background: #f8f8f8;
  border: 1px dashed #bdbdbd;
  border-radius: 14px;
}
.img_uploader.error {
  border-color: red;
}
.img_uploader label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.inp-ck_file {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 532px;
  width: 100%;
}

.swiper-slide.swiper-slide-visible.swiper-slide-active.swiper-slide-thumb-active,
.swiper-slide.swiper-slide-visible.swiper-slide-next.swiper-slide-thumb-active .swiper-slide.swiper-slide-visible.swiper-slide-thumb-active,
.swiper-slide.swiper-slide-visible.swiper-slide-thumb-active,
.swiper-slide.swiper-slide-visible.swiper-slide-next.swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide.swiper-slide-visible,
.swiper-slide.swiper-slide-visible.swiper-slide-next {
  opacity: 0.5;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.skeleton {
  --bg: #e1e1e1;
  --glare-bg: linear-gradient(
    90deg,
    transparent,
    hsla(0, 0%, 100%, 0.4),
    transparent
  );
  position: relative;
  background-color: var(--bg);
  overflow: hidden;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--glare-bg);
  transform: translateX(-100%);
  animation: skeleton-glare 1.75s infinite ease-out;
  z-index: 1;
}

@keyframes skeleton-glare {
  to {
    transform: translateX(100%);
  }
}
/* only for demo */
.card {
  --card-radius: 6px;
  min-width: 300px;
  height: auto;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 200px;
}

.card__body {
  padding: 16px 16px 48px;
}

.card__text {
  font-size: 1rem;
  height: 1em;
  border-radius: 20px;
}

.card__body > .card__text {
  margin: 0.5em 0;
}

.card__body > .card__text:first-child {
  margin-top: 0.25rem;
}

.card__body > .card__text:last-child {
  margin-bottom: 0.25rem;
  width: 66%;
}/*# sourceMappingURL=index.css.map */