.slick-dots .slick-thumb {
  li {
    width: calc(100% / 4);
  }
}
.img-gallery {
  #img-slider {
    height: 96px;
  }
}
.thumnails {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  border-radius: 18px;
  &.active {
    opacity: 1;
  }
}
