@use "mixins/index.scss" as *;
@import url("Fonts/index.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
$default_bg: #6821f4;
body {
  font-family: "Norsal";
  font-weight: normal;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(26.5deg, #8146f6 16.63%, #f14537 83.37%);
  border-radius: 70px;
  transition: 0.5s ease-in-out;
}
::-webkit-scrollbar {
  width: 0.8rem;
  background: #ddd;
}
.df_bg {
  background-color: $default_bg;
}
.custome-form-input {
  @include form_input_custome;
}
.modal-box {
  @include modal_box($padding: 3rem, $paddingright: 2rem, $paddingleft: 2rem);
}
.btn-linear-color {
  &:disabled {
    cursor: not-allowed;
  }
  @include btn_linaer_customize($width: 100%, $height: 56px, $fontSize: 16px);
}
