@import url("Fonts/index.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
$default_bg: #6821f4;
body {
  font-family: "Norsal";
  font-weight: normal;
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(26.5deg, #8146f6 16.63%, #f14537 83.37%);
  border-radius: 70px;
  transition: 0.5s ease-in-out;
}
::-webkit-scrollbar {
  width: 0.8rem;
  background: #ddd;
}
@mixin linear-btn {
  background: linear-gradient(65.18deg, #8146f6 13.77%, #f14537 77.6%);
  border-radius: 28px;
  color: #fff;
}

@mixin modal_title {
  font-weight: 700;
  font-size: 30px;
  background: linear-gradient(45deg, #8146f6 2.76%, #f14537 88.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.df_bg {
  background-color: $default_bg;
}
@media (min-width: 1024px) {
  .container {
    max-width: 1017px;
  }
}
