.footer-title {
  color: #f14537;
  font-weight: 700;
  font-size: 16px;
}
.footer-links {
  color: #242424;
  // font-weight: 600;
  font-size: 16px;
}
.logo-box {
  font-weight: 500;
  font-size: 16px;
  color: #242424;
}
.first-ellipse-card {
  position: absolute;
  top: -17%;
  z-index: -1;
  left: 0;
  right: 0;
  img {
    width: 100%;
  }
}
