.modal-title {
  font-weight: 700;
  font-size: 30px;
  background: linear-gradient(45deg, #8146f6 2.76%, #f14537 88.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.passwrod-trigger-icon {
  position: absolute;
  left: 6%;
  transform: translate(-50%, -50%);
  top: 53%;
}
.close-icon {
  position: absolute;
  top: -58%;
  right: -3%;
  cursor: pointer;
}
.custome-form-input {
  &.error {
    border: 1px solid red;
  }
}
